<div class="shadow-lg rounded-lg overflow-hidden">
    <div class="py-3 px-5 bg-sky-400">Bandar</div>
    <canvas class="p-10" id="chartBandar"></canvas>
  </div>
<script>
    const dataBandar = {
        labels: ["JavaScript", "Python", "Ruby"],
        datasets: [
            {
                // label: "Bandar",
                data: [300, 50, 100],
                backgroundColor: [
                    "rgb(133, 105, 241)",
                    "rgb(164, 101, 241)",
                    "rgb(101, 143, 241)",
                ],
                hoverOffset: 4,
            },
        ],
    };

    const configBandar = {
        type: "doughnut",
        data: dataBandar,
        options: {},
    };

    var chartBar = new Chart(
        document.getElementById("chartBandar"),
        configBandar
    );
</script>